<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.postgresql">
  <resources>
    <!--alterar o nome do arquivo se necessário-->
    <resource-root path="postgresql-42.2.6.jar"/>
  </resources>
  <dependencies>
     <module name="javax.api" export="true"/>
     <module name="javax.transaction.api"/>
   </dependencies>
</module>
